configuration {
  modes: [drun,window,ssh];
  show-icons: true;
  sort: true;
  display-drun: "";
  display-window: "";
  display-ssh: "";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "theme"
