@import "mocha.css"; 

* {
    font-family: "Maple Mono NF CN";
    font-size: 14px;
    min-height: 0;
    font-weight: normal;
}

window#waybar {
    background-color: transparent;
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    margin: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @mauve;
}

#workspaces {
    margin-bottom: 4px;
    margin-left: 6px;
    margin-right: 6px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    background-color: @surface0;
    border-radius: 100px;
}

#workspaces button {
    padding: 0 4px;
    color: @cdd6f4;
}

#workspaces button label {
    font-size: 11px;
}

#workspaces button.focused {
    color: @rosewater;
}

#workspaces button.active {
    color: @mauve;
}

#workspaces button.urgent {
    color: @red;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#network,
#tray,
#mode,
#custom-colorpicker,
#custom-streamkeygenerator,
#custom-notification,
#bluetooth,
#mpris {
  margin-left: 6px;
  margin-right: 6px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: @surface0;
  border-radius: 100px;
  margin-bottom: 4px;
}

#clock {
    color: @pink;
}

#clock.date {
    color: @pink;
}

#tray {
    color: @lavender;
    margin-right: 10px;
}

#pulseaudio {
    color: @mauve;
}

#memory {
    color: @yellow;
}

#custom-colorpicker {
    color: @teal;
    padding-right: 22px;
    padding-left: 18px;
}

#custom-streamkeygenerator {
    color: @flamingo;
    padding-right: 18px;
}

#bluetooth {
    color: @blue;
}

#mpris {
    color: @text;
}

#custom-notification {
    color: @text;
}

#idle_inhibitor {
    margin-right: 12px;
    color: #7cb342;
}

#idle_inhibitor.activated {
    color: @red;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 10px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 10px;
}
